<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" media="all" href="{{ 'stylesheets/base.css'}}" />
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>

        <header>
            <div class="left">
                <a class="header-btn" href="{{ path('index')}}">Home</a>
                <a class="header-btn" href="{{ path('ingredient_index')}}">Ingredients</a>
                <a class="header-btn" href="{{ path('recipe_index')}}">Recipes</a>
            </div>
            <div class="right">
                {# CONNECTION #}
                {% if app.user %}
                    <a class="header-btn" href="{{ path('app_logout')}}">Logout</a>
                {% else %}
                    <a class="header-btn" href="{{ path('app_register')}}">Register</a>
                    <a class="header-btn" href="{{ path('app_login')}}">Login</a>
                {% endif %}
            </div>
        </header>

        {% block body %}{% endblock %}
    </body>
</html>
